.page-main {
  &__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }

  &__description {
    text-transform: uppercase;
  }

  &__section {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      padding: 0 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 110px;
    }
  }
}
