.page {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #ffffff;
}

// .page__body {
//   @media (min-width: $desktop-width) {
//     &--index {
//       background-image: url("../../img/index-color.png"),
//         url("../../img/index-background.jpg");
//       background-position: top right;
//       background-repeat: no-repeat;
//       background-size: 50% 25%;
//     }
//   }
// }
