.present {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 290px;
  background-image: url("../../img/index-color.png"),
    url("../../img/present.png");
  background-color: #68b738;

  &__text {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
}
