.promo {
  padding: 27px 20px 20px;
  color: #ffffff;
  text-align: center;
  background-image: url("../../img/index-color.png"),
    url("../../img/index-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;

  &__title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;

    @media (min-width: 450px) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__slogan {
    margin: 0;
    margin-bottom: 29px;
    line-height: 14px;
  }
}
